<h1>Welkom {{naam}},</h1>

<p>
  Dit zijn uw gegevens voor uw bedrijfsaccount:
  <ul>
    <li>Functie: {{function}}</li>
    <li>Gebruikersnaam: {{username}}</li>
    <li>Wachtwoord: {{password}}</li>
  </ul>

  Met vriendelijke groet,<br>
  Philomena Nails&Hair
</p>