{% extends 'base.html.twig' %}

{% block body %}
<div class="customer dashboard">
  <div id="afspraken">
    <div><!-- pending -->

    </div>
    <div><!-- done -->
      
    </div>
  </div>
</div>
{% endblock %}